*, html, body{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  position: relative;
}
.container2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 186px;
  position: relative;
  border: 1px solid white;
}
.divider{
  height: 30px;
  width: 100%;
  border: 1px solid red;
}
.wrapper2{
  width: 96%;
  margin: 0 auto;
}
.wrapper{
  width: 602px;
  margin: 0 auto;
}

.list{
  width: 30px;
  height: 30px;
  border: 1px solid white;
  font-size: 10px;
}
.list2{
  width: 56px;
  height: 17px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  font-size: 10px;
}
.mover{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 195, 255, 0.5);
  /* transform: translate(10px,0); */
}
.mover2{
  position: absolute;
  width: 56px;
  height: 17px;
  background-color: rgba(0, 195, 255, 0.5);
  /* transform: translate(10px,0); */
}


.container3{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container3 span{
  font-size: 12px;
  display: block;
  height: 10px;
}